In [21]:
import pandas as pd
import json
import itertools
from collections import Counter
import psycopg2
import pymongo
from sqlalchemy import create_engine

# Kaggle API

In [2]:
# !pip install kaggle
import kaggle

In [ ]:
# Make sure you have created kaggle account and then generated API key
# Make sure the kaggle.json file is saved to the .kaggle folder of your user directory
# Use below code to check all files are available for download, if not are available, missing files must be manually downloaded
# !kaggle datasets files rsrishav/youtube-trending-video-dataset
!kaggle datasets download rsrishav/youtube-trending-video-dataset -f GB_youtube_trending_data.csv -p Dataset
!kaggle datasets download rsrishav/youtube-trending-video-dataset -f CA_youtube_trending_data.csv -p Dataset
!kaggle datasets download rsrishav/youtube-trending-video-dataset -f US_youtube_trending_data.csv -p Dataset

Dataset 1

In [5]:
# import file
US = pd.read_csv('Dataset/US_youtube_trending_data.csv.zip') 
GB = pd.read_csv('Dataset/GB_youtube_trending_data.csv.zip')
CA = pd.read_csv('Dataset/CA_youtube_trending_data.csv.zip')

US['country'] = 'US'
GB['country'] = 'GB'
CA['country'] = 'CA'
frames = [US, GB, CA]

#merge
df = pd.concat(frames).drop_duplicates()

In [6]:
df.to_csv('US_GB_CA_merged.csv')

Dataset 2

load json file

In [16]:
with open("CA_category_id.json")as f:
    data = json.load(f)

Get 'id' and 'title' from dictionary

In [17]:
from pprint import pprint
list_of_items = data['items']

In [18]:
d = []
for i in list_of_items :
    d.append(
        {
            'id' : i['id'],
            'title': i['snippet']['title']
        }
    )
 
pd.DataFrame(d)

    id                 title
0    1      Film & Animation
1    2      Autos & Vehicles
2   10                 Music
3   15        Pets & Animals
4   17                Sports
5   18          Short Movies
6   19       Travel & Events
7   20                Gaming
8   21         Videoblogging
9   22        People & Blogs
10  23                Comedy
11  24         Entertainment
12  25       News & Politics
13  26         Howto & Style
14  27             Education
15  28  Science & Technology
16  30                Movies
17  31       Anime/Animation
18  32      Action/Adventure
19  33              Classics
20  34                Comedy
21  35           Documentary
22  36                 Drama
23  37                Family
24  38               Foreign
25  39                Horror
26  40        Sci-Fi/Fantasy
27  41              Thriller
28  42                Shorts
29  43                 Shows
30  44              Trailers

In [19]:
df.to_csv('video_category.csv', index=False)

Data Cleaning

In [8]:
# Lowercase title and tags columns 
df['title'] = df['title'].str.lower()
df['tags'] = df['tags'].str.lower()
df['description'] = df['description'].str.lower()

In [9]:
# Splitting tag and title contents for easier parsing
df['title content'] = df['title'].str.split()
df['tag content'] = df['tags'].str.split("|")
df['description content'] = df['description'].str.split()

In [15]:
# Getting the total word count of video title (title length)
df['total count title'] = df['title'].str.split().str.len()

# Getting the total tag count of video tags (tag length)
df['total count tag'] = df['tags'].str.split("|").str.len()
df.head()

#Create total frequency count of individual tags 
df['tag content'].to_list()
utag_counts = dict(Counter(itertools.chain.from_iterable(df['tag content'].to_list())))

Connect to local database

In [28]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/ETL-youtube')

In [29]:
# confirm tables
engine.table_names()

<ipython-input-29-4ca97ddcba7b>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['us_gb_ca']

In [30]:
df.to_sql(name='youtube', con=engine, if_exists='replace', index=False)

In [31]:
# Read the table data from SQL
pd.read_sql_query('select * from youtube', con=engine).head()

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,...,thumbnail_link,comments_disabled,ratings_disabled,description,country,title content,tag content,description content,total count title,total count tag
0,3C66w5Z0ixs,i asked her to be my girlfriend...,2020-08-11T19:20:14Z,UCvtRTOMP2TqYqu51xNrqAzg,Brawadis,22,2020-08-12T00:00:00Z,brawadis|prank|basketball|skits|ghost|funny vi...,1514614,156908,...,https://i.ytimg.com/vi/3C66w5Z0ixs/default.jpg,False,False,subscribe to brawadis ▶ http://bit.ly/subscrib...,US,"{i,asked,her,to,be,my,girlfriend...}","{brawadis,prank,basketball,skits,ghost,""funny ...","{subscribe,to,brawadis,▶,http://bit.ly/subscri...",7,15
1,M9Pmf9AB4Mo,apex legends | stories from the outlands – “th...,2020-08-11T17:00:10Z,UC0ZV6M2THA81QT9hrVWJG3A,Apex Legends,20,2020-08-12T00:00:00Z,apex legends|apex legends characters|new apex ...,2381688,146739,...,https://i.ytimg.com/vi/M9Pmf9AB4Mo/default.jpg,False,False,"while running her own modding shop, ramya pare...",US,"{apex,legends,|,stories,from,the,outlands,–,“t...","{""apex legends"",""apex legends characters"",""new...","{while,running,her,own,modding,""shop,"",ramya,p...",10,25
2,J78aPJ3VyNs,i left youtube for a month and this is what ha...,2020-08-11T16:34:06Z,UCYzPXprvl5Y-Sf0g4vX-m6g,jacksepticeye,24,2020-08-12T00:00:00Z,jacksepticeye|funny|funny meme|memes|jacksepti...,2038853,353787,...,https://i.ytimg.com/vi/J78aPJ3VyNs/default.jpg,False,False,i left youtube for a month and this is what ha...,US,"{i,left,youtube,for,a,month,and,this,is,what,h...","{jacksepticeye,funny,""funny meme"",memes,""jacks...","{i,left,youtube,for,a,month,and,this,is,what,h...",11,30
3,kXLn3HkpjaA,xxl 2020 freshman class revealed - official an...,2020-08-11T16:38:55Z,UCbg_UMjlHJg_19SZckaKajg,XXL,10,2020-08-12T00:00:00Z,xxl freshman|xxl freshmen|2020 xxl freshman|20...,496771,23251,...,https://i.ytimg.com/vi/kXLn3HkpjaA/default.jpg,False,False,subscribe to xxl → http://bit.ly/subscribe-xxl...,US,"{xxl,2020,freshman,class,revealed,-,official,a...","{""xxl freshman"",""xxl freshmen"",""2020 xxl fresh...","{subscribe,to,xxl,→,http://bit.ly/subscribe-xx...",8,23
4,VIUo6yapDbc,ultimate diy home movie theater for the labran...,2020-08-11T15:10:05Z,UCDVPcEbVLQgLZX0Rt6jo34A,Mr. Kate,26,2020-08-12T00:00:00Z,the labrant family|diy|interior design|makeove...,1123889,45802,...,https://i.ytimg.com/vi/VIUo6yapDbc/default.jpg,False,False,transforming the labrant family's empty white ...,US,"{ultimate,diy,home,movie,theater,for,the,labra...","{""the labrant family"",diy,""interior design"",ma...","{transforming,the,labrant,family's,empty,white...",9,33